<div class="col-md-3">
    <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
        <a href="{% url 'dashboard' %}"
            class="nav-link text-dark mb-2 {% if '/dashboard/' == request.path %}bg-warning {%endif%}">Dashboard</a>
        <a href="{% url 'dashboard_categories' %}"
            class="nav-link text-dark mb-2 {% if '/dashboard/categories' == request.path %}bg-warning {%endif%}">Categories</a>
        <a href="" class="nav-link text-dark mb-2">Blogs</a>
        <a href="" class="nav-link text-dark mb-2">Logout</a>
    </div>
</div>